# Assignment CS-504

# Pre-processing and Cleaning of mammographic dataset

In [42]:
import pandas as pd
import numpy as np

In [43]:
df=pd.read_csv("C:/Users/mjrkr/Downloads/mammographic.csv")
print(df)

     5  67  3 5.1 3.1  yes
0    4  43  1   1   ?  yes
1    5  58  4   5   3  yes
2    4  28  1   1   3   no
3    5  74  1   5   ?  yes
4    4  65  1   ?   3   no
5    4  70  ?   ?   3   no
6    5  42  1   ?   3   no
7    5  57  1   5   3  yes
8    5  60  ?   5   1  yes
9    5  76  1   4   3  yes
10   3  42  2   1   3  yes
11   4  64  1   ?   3   no
12   4  36  3   1   2   no
13   4  60  2   1   2   no
14   4  54  1   1   3   no
15   3  52  3   4   3   no
16   4  59  2   1   3  yes
17   4  54  1   1   3  yes
18   4  40  1   ?   ?   no
19   ?  66  ?   ?   1  yes
20   5  56  4   3   1  yes
21   4  43  1   ?   ?   no
22   5  42  4   4   3  yes
23   4  59  2   4   3  yes
24   5  75  4   5   3  yes
25   2  66  1   1   ?   no
26   5  63  3   ?   3   no
27   5  45  4   5   3  yes
28   5  55  4   4   3   no
29   4  46  1   5   2   no
..  ..  .. ..  ..  ..  ...
930  4  57  4   3   3  yes
931  4  55  2   1   2   no
932  4  62  2   1   3   no
933  4  54  1   1   3   no
934  4  71  1   1   3  yes
935  4  65  3   3   3   no
936  4  68  4   4   3   no
937  4  64  1   1   3   no
938  4  54  2   4   3   no
939  4  48  4   4   3  yes
940  4  58  4   3   3   no
941  5  58  3   4   3  yes
942  4  70  1   1   1   no
943  5  70  1   4   3  yes
944  4  59  2   1   3   no
945  4  57  2   4   3   no
946  4  53  4   5   3   no
947  4  54  4   4   3  yes
948  4  53  2   1   3   no
949  0  71  4   4   3  yes
950  5  67  4   5   3  yes
951  4  68  4   4   3  yes
952  4  56  2   4   3   no
953  4  35  2   1   3   no
954  4  52  4   4   3  yes
955  4  47  2   1   3   no
956  4  56  4   5   3  yes
957  4  64  4   5   3   no
958  5  66  4   5   3  yes
959  4  62  3   3   3   no

[960 rows x 6 columns]

In [44]:
import pandas as pd

r_cols = ['BI-RADS', 'Age', 'Shape','Margin','Density','Severity']
df1 = pd.read_csv('C:/Users/mjrkr/Downloads/mammographic.csv', sep=',', names=r_cols, usecols=range(6))
df1.head()

  BI-RADS Age Shape Margin Density Severity
0       5  67     3      5       3      yes
1       4  43     1      1       ?      yes
2       5  58     4      5       3      yes
3       4  28     1      1       3       no
4       5  74     1      5       ?      yes

In [45]:
df2= df1.loc[:,'Age':]

In [46]:
df2.head()

  Age Shape Margin Density Severity
0  67     3      5       3      yes
1  43     1      1       ?      yes
2  58     4      5       3      yes
3  28     1      1       3       no
4  74     1      5       ?      yes

In [47]:
df2.loc[:,'Age':'Density'] = df2.loc[:,'Age':'Density'].replace("?", np.NaN)
print(df2.dtypes)
df2.fillna(df2.median(), inplace=True)
print(df2.head())

Age         object
Shape       object
Margin      object
Density     object
Severity    object
dtype: object
  Age Shape Margin Density Severity
0  67     3      5       3      yes
1  43     1      1       3      yes
2  58     4      5       3      yes
3  28     1      1       3       no
4  74     1      5       3      yes

D:\Anaconda\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\Anaconda\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [48]:
df2.loc[:,'Age':'Density'].apply(pd.to_numeric,errors = "coerce")

      Age  Shape  Margin  Density
0    67.0    3.0     5.0      3.0
1    43.0    1.0     1.0      3.0
2    58.0    4.0     5.0      3.0
3    28.0    1.0     1.0      3.0
4    74.0    1.0     5.0      3.0
5    65.0    1.0     3.0      3.0
6    70.0    3.0     3.0      3.0
7    42.0    1.0     3.0      3.0
8    57.0    1.0     5.0      3.0
9    60.0    3.0     5.0      1.0
10   76.0    1.0     4.0      3.0
11   42.0    2.0     1.0      3.0
12   64.0    1.0     3.0      3.0
13   36.0    3.0     1.0      2.0
14   60.0    2.0     1.0      2.0
15   54.0    1.0     1.0      3.0
16   52.0    3.0     4.0      3.0
17   59.0    2.0     1.0      3.0
18   54.0    1.0     1.0      3.0
19   40.0    1.0     3.0      3.0
20   66.0    3.0     3.0      1.0
21   56.0    4.0     3.0      1.0
22   43.0    1.0     3.0      3.0
23   42.0    4.0     4.0      3.0
24   59.0    2.0     4.0      3.0
25   75.0    4.0     5.0      3.0
26   66.0    1.0     1.0      3.0
27   63.0    3.0     3.0      3.0
28   45.0    4.0     5.0      3.0
29   55.0    4.0     4.0      3.0
..    ...    ...     ...      ...
931  57.0    4.0     3.0      3.0
932  55.0    2.0     1.0      2.0
933  62.0    2.0     1.0      3.0
934  54.0    1.0     1.0      3.0
935  71.0    1.0     1.0      3.0
936  65.0    3.0     3.0      3.0
937  68.0    4.0     4.0      3.0
938  64.0    1.0     1.0      3.0
939  54.0    2.0     4.0      3.0
940  48.0    4.0     4.0      3.0
941  58.0    4.0     3.0      3.0
942  58.0    3.0     4.0      3.0
943  70.0    1.0     1.0      1.0
944  70.0    1.0     4.0      3.0
945  59.0    2.0     1.0      3.0
946  57.0    2.0     4.0      3.0
947  53.0    4.0     5.0      3.0
948  54.0    4.0     4.0      3.0
949  53.0    2.0     1.0      3.0
950  71.0    4.0     4.0      3.0
951  67.0    4.0     5.0      3.0
952  68.0    4.0     4.0      3.0
953  56.0    2.0     4.0      3.0
954  35.0    2.0     1.0      3.0
955  52.0    4.0     4.0      3.0
956  47.0    2.0     1.0      3.0
957  56.0    4.0     5.0      3.0
958  64.0    4.0     5.0      3.0
959  66.0    4.0     5.0      3.0
960  62.0    3.0     3.0      3.0

[961 rows x 4 columns]

# Decision Tree

In [74]:
from sklearn.model_selection import train_test_split 
X=df2[['Age','Shape','Margin','Density']]
y=df2.Severity
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=1)

In [75]:
from sklearn.tree import DecisionTreeClassifier 
dtc= DecisionTreeClassifier()
dtc= dtc.fit(X_train,y_train)
y_pred= dtc.predict(X_test)

In [76]:
from sklearn import metrics
print("Accuracy:",np.mean(cross_val_score(dtc, X,y, cv=10)))

Accuracy: 0.7450592331343824

# Random Forest

In [77]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
rfc=RandomForestClassifier(n_estimators=10)


rfc.fit(X_train,y_train)

y_pred=rfc.predict(X_test)

print ("Accuracy:",np.mean(cross_val_score(rfc, X, y, cv=10)))

Accuracy: 0.7543263926568999

#  Naive Bayes

In [78]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
NaB = MultinomialNB().fit(X_train, y_train) 
predicted = NaB.predict(X_test)
print ("Accuracy:",np.mean(cross_val_score(NaB, X, y, cv=10)))

Accuracy: 0.7397640848254656

# KNN

In [60]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scale_data = scaler.fit_transform(df2[['Age','Shape','Margin','Density']])
scale_data = pd.DataFrame({'Age':scale_data[:,0],'Shape':scale_data[:,1],'Margin':scale_data[:,2],'Density':scale_data[:,3]})
scale_data.head()

D:\Anaconda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

        Age     Shape    Margin   Density
0  0.796984  0.220384  1.436762  0.224804
1 -0.865610 -1.415052 -1.183216  0.224804
2  0.173511  1.038102  1.436762  0.224804
3 -1.904732 -1.415052 -1.183216  0.224804
4  1.281908 -1.415052  1.436762  0.224804

In [66]:
scale_data = pd.concat([df2[['Severity']], scale_data], axis=1,sort=False)
scale_data.head()

  Severity       Age     Shape    Margin   Density
0      yes  0.796984  0.220384  1.436762  0.224804
1      yes -0.865610 -1.415052 -1.183216  0.224804
2      yes  0.173511  1.038102  1.436762  0.224804
3       no -1.904732 -1.415052 -1.183216  0.224804
4      yes  1.281908 -1.415052  1.436762  0.224804

In [67]:
X = scale_data[['Age','Shape','Margin','Density']] 
y = scale_data.Severity 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [71]:
knn = KNeighborsClassifier(n_neighbors=15)


knn.fit(X_train,y_train)

y_pred=knn.predict(X_test)

print ("Accuracy:",np.mean(cross_val_score(knn, X,y, cv=10)))

Accuracy: 0.7833767408211249

In [72]:
acc = []
for i in range(2, 50):  
    k = cross_val_score(knn, X,y, cv=i)
    acc.append(np.mean(k))
print("Best k-value: ",acc.index(max(acc))+2)
print("Accuracy:",max(acc))

Best k-value:  48
Accuracy: 0.7961283416875523

# Conclusion

Best classification method for the dataset is the KNN and the best k-value is 48